:root {
    --white-color: #fff;
    --body-color: #8a460e;
    --container-color: #d97a29;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    display: grid;
    place-items: center;
    gap: 2rem;
    font-family: "Quicksand", serif;
    font-style: normal;
    color: var(--white-color);
    background: var(--body-color);
    padding: 2rem 0;
}

header {
    text-align: center;
}

header h1 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 3rem;
}

main {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

form {
    gap: 1.3rem;
}

form, #output {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    /* border: 3px solid var(--white-color); */
    background-color: var(--container-color);
    font-size: 1.5rem;
}

#output {
    text-align: center;
}

form label { 
    font-weight: 600;
}

form input#number, #convert-btn {
    width: 84%;
    padding: 10px;
    color: var(--white-color);
    font-size: 1.4rem;
    border: none;
    border-radius: 5px;
}

form input#number {
    background-color: var(--body-color);   
}

form #convert-btn {
    background: #007f5c;
}

footer {
    display: none;
}

@media (max-width: 768px) { 
    header h1 {
        font-size: 2.3rem;
        line-height: 2.3rem;
    }

    main {
        width: 80%;
        gap: 2rem;
    }
    
    form {
        gap: 1rem;
    }

    form, #output {
        font-size: 1.4rem;
    }

    form input#number, #convert-btn {
        width: 90%;
    }
}

@media (max-width: 425px) {
    
    header h1 {
        font-size: 2rem;
        font-weight: 400;
        line-height: 2rem;
    }

    main {
        width: 100%;
    }

    form input#number, #convert-btn {
        width: 90%;
        font-size: 1.2rem;
    }

    form, #output {
        border: none;
        font-size: 1.2rem;
    }
}